<p>
  Greetings human that goes by the name of <%= @person.name %>
  Please visit your guardian angel, <%= link_to @person.guardian_angel.name, @url %>
</p>
<p>Sincerely, <%= @person.guardian_angel.god.name %></p>
